<!DOCTYPE html>
<html>
	<head>
	<title>Tic-Tac-Toe Game</title>
	</head>

<body>	
	<b><center><h2 style="font-family:comic; 
	color:black; 
	text-shadow: 2px 2px yellow;
	font-size: 250%;
	text-decoration: line-through
	">TIC TAC TOE</h2></center></b>	

<!-- <h2>Let's play a game! -->
<br>
<h2 style="font-family:comic,sans-serif">Choose your space...
</h2>

<form action="/human_game" method="post">
<table style = "width:5%"; rules="all">
	<input type = "radio" name = "move" value = "0"><%=board[0]%>
	<input type = "radio" name = "move" value = "1"><%=board[1]%>
	<input type = "radio" name = "move" value = "2"><%=board[2]%>
	<br>
	<input type = "radio" name = "move" value = "3"><%=board[3]%>
	<input type = "radio" name = "move" value = "4"><%=board[4]%>
	<input type = "radio" name = "move" value = "5"><%=board[5]%>
	<br>
	<input type = "radio" name = "move" value = "6"><%=board[6]%>
	<input type = "radio" name = "move" value = "7"><%=board[7]%>
	<input type = "radio" name = "move" value = "8"><%=board[8]%>
	<br>
	<input type="submit">
</table>	
</form>
</body>
</html>