<!DOCTYPE html>
<html>
	<head>
	<title>Tic-Tac-Toe Game</title>
	</head>

<body> 
	<b><center><h2 style="font-family:comic; 
	color:black; 
	text-shadow: 2px 2px yellow;
	font-size: 250%;
	text-decoration: line-through
	">TIC TAC TOE</h2></center></b>

<center><h4 style="font-family:Courier">You have won <%session[:player_two][:marker]%>!</h4></center> 
<form action = "/play_game" method="post">
	<center><b><table style = "width:300px; height:300px"; rules="all">
		<tr>
 			<td><%=board[0]%></td>
 			<td><%=board[1]%></td>
 			<td><%=board[2]%></td>
 		</tr>
 	
 		<tr>
 			<td><%=board[3]%></td>
 			<td><%=board[4]%></td>
 			<td><%=board[5]%></td>
 		</tr>

 		<tr>
 			<td><%=board[6]%></td>
 			<td><%=board[7]%></td>
 			<td><%=board[8]%></td>
 		</tr>
 		
 	</center></b></table> 
</body>
</html> 